.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: url('/images/frontend-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 8rem;

  main {
    height: 100%;
    padding-bottom: 2rem;
  }
}

.bg {
  filter: blur(1px);
}