@import "@/styles/base/mixin";

.playList {
    display: flex;
    flex-direction: column;
    height: 90%;
    overflow-y: auto;

    .list {
        display: flex;
        padding: 8px 10px;
        border-radius: 10px;
        user-select: none;
        margin-right: 5px;

        &:hover {
            background-color: rgb(140, 140, 140);
            color: #fff;
        }

        .coverWrap {
            display: flex;
            align-items: center;
            margin-right: auto;

            .cover {
                border-radius: 5px;
                width: 50px;
                height: 50px;
                overflow: hidden;
                margin: 0 1rem;
            }

            img {
                width: auto;
                height: 100%;
                transform: scale(2);
            }
        }

        .contentWrap {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .func {
                display: flex;
                align-items: center;

                .heart {
                    cursor: pointer;
                    margin: 0 1rem;

                    @include X-Small {
                        margin: 0 0.5rem 0 1rem;
                    }

                    &:hover {
                        color: rgb(255, 121, 121);
                        transform: scale(1.2);
                    }

                    &.isCollect {
                        color: rgb(255, 121, 121);
                    }
                }
            }
        }
    }
}