@import "@/styles/base/mixin";

.container {
    height: 100%;
    padding: 2rem 1rem;

    @include Medium {
        padding: 2rem 0;
    }

    .content {
        display: flex;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        padding: 4rem;
        height: 100%;
        color: #000;

        @include Large {
            padding: 2rem;
        }

        @include X-Small {
            padding: 1rem;
        }

        .profile {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include Small {
                display: none;
            }
        }

        .musicList {
            width: 70%;
            height: 100%;
            overflow: hidden;

            @include Small {
                width: 100%;
            }
        }

        .tabGroup {
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include X-Small {
                flex-direction: column;
            }

            .tabList {
                display: flex;
            }

            .filterList {
                display: flex;
                padding: 0 1px;

                @include X-Small {
                    margin: 1rem 0;
                }
            }
        }
    }
}