.container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 998;
    color: #fff;

    .menu {
        display: flex;
        align-items: center;
        color: #000;
    }
}

.icon {
    position: relative;
    font-size: 25px;
    cursor: pointer;
    margin-right: 2rem;
    color: #fff;

    &:hover {
        transform: scale(1.2);
    }
}