.container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;

    .logo {
        width: 50px;
        height: 50px;
    }

    .menu {
        display: flex;
    }
}

.icon {
    font-size: 30px;
    cursor: pointer;
    color: #644132;
    margin-right: 2rem;
}