.container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 998;

    .logo {
        width: 60px;
        height: 60px;
        background-color: #f1f1f1;
        border-radius: 10px;
    }

    .menu {
        display: flex;
        align-items: center;
        color: #313131;
    }
}

.icon {
    position: relative;
    font-size: 30px;
    cursor: pointer;
    margin-right: 2rem;
    color: #f1f1f1;

    &:hover {
        transform: scale(1.2);
    }
}