.storyConatiner {
    min-height: calc(100vh - 80px - 4rem);
    height: calc(100vh - 80px - 4rem);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    color: #644132;

    .text {
        width: 100%;
        background-color: #ffcc68;
        padding: 1rem;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;

        .textarea {
            min-width: calc(100% - 80px - 1rem);
            min-height: 100px;
            max-height: 100px;
            border: 0;
            border: 1px solid #d6d6d6;
            outline-color: #ffe9bd;
            border-radius: 10px;
            padding: 10px;
        }

        .sendBtn {
            width: 80px;
            height: 40px;
            margin-top: auto;
            margin-left: 1rem;
            padding-top: 1px;
            border-radius: 50px;
            border: none;
            color: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;

            &.available {
                background-color: #E79C0B;

                &:hover {
                    transform: scale(1.1);
                }
            }

            &.disable {
                background-color: #dfdfdf;
                cursor: not-allowed;
            }
        }
    }
}

.responseContainer {
    display: flex;
    align-items: flex-end;
    height: 80vh;
    color: #644132;

    .role {
        width: 30%;
        height: 100%;
        padding: 1rem;

        svg {
            transform: scale(1.1);
        }

        .speechBubble {
            width: 625px;
            height: 220px;
            padding: 1rem 5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: #fff;
            position: relative;
            margin-bottom: 7rem;
            -moz-border-radius: 200px;
            -webkit-border-radius: 200px;
            border-radius: 200px;
            -moz-animation: pop 2s ease-out;
            -webkit-animation: pop 2s ease-out;
            animation: pop 2s ease-out;
            filter: drop-shadow(4px 7px 0px #e3e3e3);

            &:after,
            &:before {
                width: 0;
                height: 0;
                border-left: 40px solid transparent;
                border-right: 40px solid transparent;
                border-top: 50px solid #fff;
                content: "";
                top: 210px;
                position: absolute;
                left: 100px;
                margin: auto;
                -moz-animation: move 0.8s ease;
                -webkit-animation: move 0.8s ease;
                animation: move 0.8s ease;
            }

            &:before {
                border-top: 55px solid #fff;
                border-left: 44px solid transparent;
                border-right: 44px solid transparent;
            }
        }

        .content {
            opacity: 0;
            -moz-animation: hello 2s forwards;
            -webkit-animation: hello 2s forwards;
            animation: hello 2s forwards;
            -moz-animation-delay: 0.8s;
            -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;

            .tagGroup {
                display: flex;
            }
        }
    }

    .recommendList {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;

        .playList {
            display: flex;

            .list {
                display: flex;
                flex-direction: column;
                padding: 0.8rem;
                margin-bottom: 1rem;
                width: 20%;
                background-color: #fff;
                margin: 0 1rem;
                border-radius: 10px;
                filter: drop-shadow(4px 7px 0px #e3e3e3);

                .cover {
                    width: 100%;
                    border-radius: 10px;
                    margin-bottom: 1rem;

                    img {
                        width: 100%;
                        border-radius: 10px;
                    }
                }

                .wrap {
                    display: flex;
                    justify-content: space-between;

                    .link {
                        width: 80%;
                    }

                    .mark {
                        font-size: 20px;
                    }
                }
            }
        }

        .reSendBtn {
            margin: 2rem 0;
            border-radius: 10px;
            border: 1px solid #644132;
            text-align: center;
            padding: 0.5rem;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
        }
    }

    .title {
        font-size: 30px;
        margin-bottom: 1rem;
        color: #E79C0B;
    }
}

@-moz-keyframes pop {
    0% {
        width: 100px;
    }

    40% {
        width: 1000px;
    }

    80% {
        width: 600px;
    }
}

@-webkit-keyframes pop {
    0% {
        width: 100px;
    }

    40% {
        width: 1000px;
    }

    80% {
        width: 600px;
    }
}

@keyframes pop {
    0% {
        width: 100px;
    }

    40% {
        width: 1000px;
    }

    80% {
        width: 600px;
    }
}

@-moz-keyframes move {
    0% {
        top: 50px;
        left: -10px;
    }

    50% {
        left: 50px;
    }

    100% {
        left: 100px;
    }
}

@-webkit-keyframes move {
    0% {
        top: 50px;
        left: -10px;
    }

    50% {
        left: 50px;
    }

    100% {
        left: 100px;
    }
}

@keyframes move {
    0% {
        top: 50px;
        left: -10px;
    }

    50% {
        left: 50px;
    }

    100% {
        left: 100px;
    }
}

@-moz-keyframes hello {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes hello {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hello {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}