.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(56, 56, 56, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.videoResponsive {
    overflow: hidden;
    position: relative;
    height: auto;
}



.play {
    cursor: pointer;

    &:hover {
        color: #ffd37a;
        transform: scale(1.2);
    }
}