.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
        font-size: 25px;
    }
}

.content {
    display: flex;
    margin: 2rem 0;

    .row {
        width: 50%;
    }

    .item {
        min-height: 200px;
        margin: 0.5rem;
        box-sizing: content-box;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        border: 1px solid #e3e3e3;
        background-color: #fff;
        filter: drop-shadow(4px 7px 0px #e3e3e3);
    }

    .record {
        min-height: 40vh;
        height: 100%;

        .recordArea {
            width: 100%;
            margin-top: 1rem;
            padding: 0.5rem;
            border: 1px solid #eee;

            &:focus {
                outline-color: #b8b2b2;
            }
        }
    }

    .editBtn {
        background-color: #e3e3e3;
        padding: 0.5rem;
        width: 100%;
        border-radius: 50px;
        margin-bottom: 0.5rem;
    }
}