.loginWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;

  h1 {
    font-size: 60px;
    font-weight: bold;
  }

  p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 2rem;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(4px 7px 0px #e3e3e3);
  padding: 1rem;
  border-radius: 50px;
  margin: 5rem;
  background-color: #fff;
  width: 500px;

  &:hover {
    transform: scale(1.05);
  }

  img {
    margin-right: 1rem;
  }
}