.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url('https://external-preview.redd.it/Tf2MC-orVRAI8OL5tjyF4k4H2Q6QLHTWllekGfqdt3c.png?width=960&crop=smart&auto=webp&s=be4ab9a2fa3ca2f7011799377f118a8dbc64aacb');
  background-size: cover;
  padding: 2rem 8rem;
  color: #fff;

  main {
    height: 100%;
  }
}

.bg {
  filter: blur(1px);
}